<nz-spin [nzSpinning]="loader">
<div class="signup">
  <div class="container">
    <div class="row w-100 p-0 m-0">
      <div class="col-md-12 p-2 formdiv">
        <img src="../../../assets/user.png" class="img-fluid" alt="" />
        <h1>Great To See You again !</h1>
        <form
          #loginForm="ngForm"
          (ngSubmit)="onSubmit(loginForm.value)"
          autocomplete="off"
        >
          <div class="row d-flex pt-3">
            <div class="col-md-12 mb-3">
              <nz-input-group [nzPrefix]="prefixTemplateemail">
                <input
                  type="email"
                  ngModel
                  name="email"
                  #email="ngModel"
                  email
                  nz-input
                  required
                  placeholder="Enter your email"
                />
              </nz-input-group>
              <ng-template #prefixTemplateemail
                ><i nz-icon nzType="mail" nzTheme="outline"></i
              ></ng-template>
              <small *ngIf="!email.valid && email.touched" class="text-danger"
                >This field is requried</small
              >
            </div>
            <div class="col-md-12 mb-1">
              <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplatePassword">
                <input
                  type="{{passwordtype}}"
                  ngModel
                  name="password"
                  #password="ngModel"
                  nz-input
                  placeholder="Enter your Password"
                  required
                />
              </nz-input-group>
              <ng-template #suffixTemplateInfo
              ><i *ngIf="passwordtype === 'password'" (click)="changetype('text')" nz-icon nzType="eye"></i>
              <i *ngIf="passwordtype === 'text'" (click)="changetype('password')" nz-icon nzType="eye-invisible" nzTheme="outline"></i>
            </ng-template>
              <ng-template #prefixTemplatePassword
                ><i nz-icon nzType="lock" nzTheme="outline"></i
              ></ng-template>
              <small
                *ngIf="!password.valid && password.touched"
                class="text-danger"
                >This field is requried</small
              >
              <a [routerLink]="['/forgetpassword']"
               (click)="forgetlinkClick()" style="float: right;">Forget Password</a>
            </div>
          </div>
          <label nz-checkbox class="mb-3">Remember Me</label>
          <button
            nz-button
            [nzLoading]="loader"
            nzType="primary"
            [disabled]="!loginForm.valid"
            class="googlebutton"
          >
            <i nz-icon nzType="key" nzTheme="outline"></i>Login
          </button>
        </form>
        <button nz-button (click)='openRegistrationModal()' style="border: none;">No account? Click Here..</button>  
      </div>
    </div>
  </div>
</div>
</nz-spin>