<div class="select-service containter-fluid">
  <div class="container">
    <h1>Se<span>lect the service you wa</span>nt</h1>
    <div class="service-card row p-0 m-0 d-flex justify-content-center">
      <div
        class="col-md-3 col-sm-12 mb-3"
        *ngFor="let service of availableServices"
      >
        <ws-service-card [cardDetails]="service"></ws-service-card>
      </div>
    </div>

    <div class="d-flex justify-content-between" style="align-items: center">
      <p class="p-0 m-0">Don’t see what you’re looking for?</p>
      <a routerLink="/serviceProvider/all"
        ><button nz-button nzType="primary">See all categories</button></a
      >
    </div>
  </div>
</div>
