<div>
  <form>
    <ul nz-menu nzMode="inline">
      <nz-checkbox-wrapper
        style="width: 100%"
        (nzOnChange)="onSelectService($event)"
      >
        <li nz-submenu nzTitle="Selecte Services" nzIcon="select">
          <ul>
            <li
              nz-submenu
              nzTitle="{{ cat.serviceName | titlecase }}"
              *ngFor="let cat of category"
            >
              <ul *ngFor="let subcat of cat.subService">
                <li nz-menu-item>
                  <!-- <nz-checkbox-wrapper (nzOnChange)="onChecked($event)"> -->
                  <label nz-checkbox nzValue="{{ subcat?.key }}">{{
                    subcat.title | titlecase
                  }}</label>
                  <!-- </nz-checkbox-wrapper> -->
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </nz-checkbox-wrapper>
    </ul>
    <!-- <div *ngIf="selectesServices.length > 0" class="btnapply">
      <button
        nz-button
        nzType="primary"
        class="wp-button"
        (click)="applyFilter()"
      >
        Apply
      </button>
    </div> -->
  </form>

  <div class="ratingContainer">
    <h6>By Rating</h6>
    <div class="checkboxgroup">
      <label nz-checkbox
        >4
        <i
          nz-icon
          nzType="star"
          nzTheme="fill"
          style="font-size: 12px; color: darkorange; margin-right: 5px"
        ></i>
        & above</label
      >
      <label nz-checkbox
        >3
        <i
          nz-icon
          nzType="star"
          nzTheme="fill"
          style="font-size: 12px; color: darkorange; margin-right: 5px"
        ></i>
        & above</label
      >
      <label nz-checkbox
        >2
        <i
          nz-icon
          nzType="star"
          nzTheme="fill"
          style="font-size: 12px; color: darkorange; margin-right: 5px"
        ></i>
        & above</label
      >
      <label nz-checkbox
        >1
        <i
          nz-icon
          nzType="star"
          nzTheme="fill"
          style="font-size: 12px; color: darkorange; margin-right: 5px"
        ></i>
        & above</label
      >
    </div>
  </div>

  <div class="priceContainer" style="margin-top: 120px">
    <h6>By Price</h6>
    <nz-slider
      nzRange
      [nzStep]="1"
      [(ngModel)]="rangeValue"
      (ngModelChange)="onChange($event)"
      (nzOnAfterChange)="onAfterChange($event)"
    ></nz-slider>
    <div style="display: flex; justify-content: space-between">
      <label for="minprice"><b>Min.</b> {{ rangeValue[0] }} Rs.</label>
      <label for="maxprice"><b>Max</b> {{ rangeValue[1] }} Rs.</label>
    </div>
  </div>

  <div class="status">
    <h6>By Status</h6>
    <div class="checkboxgroup">
      <nz-radio-group nzButtonStyle="solid">
        <label class="mb-2" nz-radio-button nzValue="All">All</label>
        <label class="mb-2" nz-radio-button nzValue="Available"
          >Available</label
        >
        <label class="mb-2" nz-radio-button nzValue="Occupied">Occupied</label>
      </nz-radio-group>
    </div>
  </div>
</div>
