@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

* {
  font-family: @textFont;
}
[nz-menu] {
  width: 300px;
  font-family: @textFont;
}

ul {
  border: none !important;
  background-color: #f9f9f9 !important;
  li {
    // margin-left: 20px;
    font-family: @headingFont;
    letter-spacing: 1px;
    background-color: #fff !important;
  }
}
.btnapply {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  wp-button {
    font-family: @headingFont !important;
    letter-spacing: 1px !important;
  }
}
.ratingContainer {
  h6 {
    font-size: 18px !important;
    font-family: @headingFont;
    margin-left: 22px;
    margin-top: 20px;
    font-weight: 500;
  }
}
.checkboxgroup {
  display: flex;
  flex-direction: column;
  height: 32px;
  line-height: 32px;
  margin: 4px 40px;
}
.ant-checkbox-wrapper {
  margin-left: 0px !important;
}

.priceContainer .icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

.priceContainer [nz-icon] {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
}

.priceContainer [nz-icon]:first-child {
  left: 0;
}

.priceContainer [nz-icon]:last-child {
  right: 0;
}

.priceContainer .icon-highlight {
  color: rgba(0, 0, 0, 0.45);
}
h6 {
  font-size: 18px !important;
  font-family: @headingFont;
  margin-left: 22px;
  margin-top: 20px;
  font-weight: 500;
}
[nz-radio-button] {
  display: block;
  line-height: 32px;
  height: 32px;
  margin-top: 5px;
  width: 95px;
}
.checkboxgroup label {
  text-align: center;
  font-family: @headingFont;
  // margin-left: 43px;
  display: block;
  margin: 0px auto;
}
