<nz-spin [nzSpinning]="loader">
  <div class="changepassword" *ngIf="changePassword">
    <div style="padding: 30px 0px">
      <div class="container">
        <div class="row w-100 p-0 m-0">
          <div class="col-md-7 p-0 m-0">
            <img src="../../../../assets/change.png" class="img-fluid" alt="" style="-webkit-transform: scaleX(-1);
            transform: scaleX(-1);">
          </div>
          <div class="col-md-5 p-0 m-0" style="display: flex;justify-content: center;flex-direction: column;">
            <h1>Reset Password</h1>
            <p>We set new password for you</p>
            <div class="form-div">
             <form
          #changePasswordForm="ngForm"
          (ngSubmit)="onSubmit(changePasswordForm.value)"
        >
          <div class="w-100">
            <nz-input-group
              class="inputgrp mt-2"
              [nzSuffix]="suffixTemplate"
              [nzPrefix]="prefixTemplatePassword"
            >
              <input
                nz-input
                ngModel
                name="password"
                #password="ngModel"
                class="p-1"
                [type]="passwordVisible ? 'text' : 'password'"
                placeholder="Old Password"
                required
              />
            </nz-input-group>
            <small
              class="text-danger"
              *ngIf="!password.valid && password.touched"
              >This field is required</small
            >
            <nz-input-group
              class="inputgrp mt-2"
              [nzSuffix]="suffixTemplate1"
              [nzPrefix]="prefixTemplatePassword"
            >
              <input
                nz-input
                ngModel
                name="newpassword"
                #newpassword="ngModel"
                class="p-1"
                [type]="passwordVisible1 ? 'text' : 'password'"
                placeholder="New Password"
                required
              />
            </nz-input-group>
            
            <small
              class="text-danger"
              *ngIf="!newpassword.valid && newpassword.touched"
              >This field is required</small
            >
            <nz-input-group
              class="inputgrp mt-2"
              [nzSuffix]="suffixTemplate2"
              [nzPrefix]="prefixTemplatePassword"
            >
              <input
                nz-input
                ngModel
                name="confirmPassword"
                #confirmPassword="ngModel"
                class="p-1"
                [type]="passwordVisible2 ? 'text' : 'password'"
                placeholder="Confirm Password"
                required
              />
            </nz-input-group>
            <small
              class="text-danger"
              *ngIf="!confirmPassword.valid && confirmPassword.touched"
              >This field is required</small
            >
            <ng-template #suffixTemplate>
              <i
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></i>
            </ng-template>
            <ng-template #suffixTemplate1>
              <i
                nz-icon
                [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible1 = !passwordVisible1"
              ></i>
            </ng-template>
            <ng-template #suffixTemplate2>
              <i
                nz-icon
                [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible2 = !passwordVisible2"
              ></i>
            </ng-template>
            <ng-template #prefixTemplatePassword
              ><i nz-icon nzType="lock" nzTheme="outline"></i
            ></ng-template>
          </div>
          <span class="text-danger">{{ passwordMatch }}</span>
          <div class="actionbtn">
            <button
              [disabled]="!changePasswordForm.valid"
              nz-button
              nzType="primary"
              class="wp-button w-100 mt-3"
            >
              Change Password
            </button>
          </div>
        </form>
        </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</nz-spin>


