<!--Forget password Page------>

<nz-spin [nzSpinning]="loader">
  <div class="forgetPassword">
    <div class="container">
      <div class="row w-100 p-0 m-0">
        <div class="col-md-7">
          <img src="../../../../assets/forget.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-5" style="display: flex;justify-content: center;flex-direction: column;">
          <form #forgetForm='ngForm' (ngSubmit)='formSubmit(forgetForm.value)'>
            <div class="formdiv">
              <h1>Forget your<br>password?</h1>
              <h4>Don't worry, we got you.</h4>
              <p>Enter your email address associated with your account</p>
              <nz-input-group [nzPrefix]="prefixTemplateemail">
                <input type="email" ngModel name="email" #email='ngModel' [value]="emailValue" email nz-input required placeholder="Enter your email" />
              </nz-input-group>
              <small *ngIf="!email.valid && email.touched" class="text-danger">Fill valid email</small>
              <ng-template #prefixTemplateemail><i nz-icon nzType="mail" nzTheme="outline"></i></ng-template>
              <button [disabled]="!forgetForm.valid" nz-button  nzType="primary" class="wp-button">
                <i class="fa fa-send fa-lg"></i>&nbsp;Send
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</nz-spin>