<div class="signup">
  <div class="container">
    <div class="row w-100 p-0 m-0">
      <div class="col-md-12 p-2 formdiv">
        <img src="../../../assets/user.png" class="img-fluid" alt="" />
        <h1>Sign Up</h1>
        <button
          class="ant-btn ant-btn-primary googlebutton"
          nz-button
          nzType="primary"
        >
          <i class="fa fa-google fa-lg"></i>&nbsp;Sign Up with Google
        </button>
        <form
          #signupForm="ngForm"
          (ngSubmit)="getFormData(signupForm.value)"
          autocomplete="off"
        >
          <div class="row d-flex pt-3">
            <div class="col-md-6 mb-3">
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input
                  type="text"
                  name="firstname"
                  #firstname="ngModel"
                  ngModel
                  required
                  nz-input
                  placeholder="First Name"
                />
              </nz-input-group>
              <ng-template #prefixTemplateUser
                ><i nz-icon nzType="user"></i
              ></ng-template>
              <small
                *ngIf="!firstname.valid && firstname.touched"
                class="text-danger"
                >This field is requried</small
              >
            </div>
            <div class="col-md-6 mb-3">
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input
                  type="text"
                  name="lastname"
                  #lastname="ngModel"
                  ngModel
                  nz-input
                  placeholder="Last Name"
                />
              </nz-input-group>
              <ng-template #prefixTemplateUser
                ><i nz-icon nzType="user"></i
              ></ng-template>
            </div>
            <div class="col-md-12 mb-3">
              <nz-input-group [nzPrefix]="prefixTemplateemail">
                <input
                  type="email"
                  name="email"
                  #email="ngModel"
                  ngModel
                  required
                  email
                  nz-input
                  placeholder="Enter your email"
                />
              </nz-input-group>
              <ng-template #prefixTemplateemail
                ><i nz-icon nzType="mail" nzTheme="outline"></i
              ></ng-template>
              <small *ngIf="!email.valid && email.touched" class="text-danger"
                >Fill valid email</small
              >
            </div>
            <div class="col-md-12 mb-3">
              <nz-input-group
                [nzSuffix]="suffixTemplateInfo"
                [nzPrefix]="prefixTemplatePassword"
              >
                <input
                  type="{{ passwordtype }}"
                  name="password"
                  #password="ngModel"
                  (change)="clearErr()"
                  ngModel
                  required
                  nz-input
                  placeholder="Enter your Password"
                />
              </nz-input-group>
              <ng-template #prefixTemplatePassword
                ><i nz-icon nzType="lock" nzTheme="outline"></i
              ></ng-template>
              <ng-template #suffixTemplateInfo
                ><i
                  *ngIf="passwordtype === 'password'"
                  (click)="changetype('text')"
                  nz-icon
                  nzType="eye"
                ></i>
                <i
                  *ngIf="passwordtype === 'text'"
                  (click)="changetype('password')"
                  nz-icon
                  nzType="eye-invisible"
                  nzTheme="outline"
                ></i>
              </ng-template>
              <small
                *ngIf="!password.valid && password.touched"
                class="text-danger"
                >This field is requried</small
              >
            </div>
            <div class="col-md-12 mb-3">
              <nz-input-group
                [nzSuffix]="suffixTemplateInfoc"
                [nzPrefix]="prefixTemplatePassword"
              >
                <input
                  type="{{ cpasswordtype }}"
                  name="cpassword"
                  #cpassword="ngModel"
                  (change)="clearErr()"
                  ngModel
                  required
                  nz-input
                  placeholder="Confirm your Password"
                />
              </nz-input-group>
              <ng-template #prefixTemplatePassword
                ><i nz-icon nzType="lock" nzTheme="outline"></i
              ></ng-template>
              <ng-template #suffixTemplateInfoc
                ><i
                  *ngIf="cpasswordtype === 'password'"
                  (click)="changetypec('text')"
                  nz-icon
                  nzType="eye"
                ></i>
                <i
                  *ngIf="cpasswordtype === 'text'"
                  (click)="changetypec('password')"
                  nz-icon
                  nzType="eye-invisible"
                  nzTheme="outline"
                ></i>
              </ng-template>
              <small
                *ngIf="!cpassword.valid && cpassword.touched"
                class="text-danger"
                >This field is requried</small
              >
              <small class="text-danger text-capitalize">{{
                passwordMatch
              }}</small>
            </div>
          </div>
          <label
            nz-checkbox
            class="mb-3"
            name="acceptTerms"
            [(ngModel)]="accept"
            >accept term & condition</label
          ><br />
          <small *ngIf="!accept" class="text-danger"
            >accept terms and conditions</small
          >
          <button
            nz-button
            [nzLoading]="loader"
            nzType="primary"
            [disabled]="!signupForm.valid"
            class="googlebutton"
          >
            <i nz-icon nzType="key" nzTheme="outline"></i>Register
          </button>
        </form>
        <button nz-button (click)="openLoginModal()" style="border: none">
          Already have account? Sign In Here..
        </button>
      </div>
    </div>
  </div>
</div>
