@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

.payment_page {
    padding: 50px 0px;
    background: url(../../../../../assets/payment.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .container {
        -webkit-box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        -moz-box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        padding: 20px;
        background-color: #fff;
        h1 {
            font-family: @headingFont;
            text-align: center;
        }

        label,
        input {
            font-family: @headingFont;
        }

        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.imagebutton{
    width: 400px;
    height: 50px;
}