<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
    <div class="container-fluid pr-4 pl-4">
      <a class="navbar-brand" href="#">
        <span style="color: rgb(84, 233, 84)">Work</span> Point
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li>
            <div class="input-group">
              <input
                class="form-control py-2 rounded-pill mr-1 pr-5"
                type="text"
                placeholder="search"
                style="
                  background-color: #2b5468;
                  border: 1px solid #2b5468;
                  color: #fff;
                "
              />
              <span class="input-group-append" style="z-index: 99">
                <button class="btn rounded-pill border-0 ml-n5">
                  <i class="fa fa-search" style="color: #fff"></i>
                </button>
              </span>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <div class="dropdown" style="position: static !important">
              <button
                class="btn text-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </button>
              <div
                class="dropdown-menu w-100"
                aria-labelledby="dropdownMenuButton"
              >
                <div class="row d-flex w-100 pl-5 pr-5">
                  <div class="col-md-2" *ngFor="let item of servicemenu">
                    <div>
                      <span class="dropdown-item p-0 mainmenu">{{
                        item.serviceName
                      }}</span>
                      <div *ngFor="let i of item.subService">
                        <p class="p-0 m-0">
                          <a
                            class="dropdown-item p-0 submenu"
                            routerLink="/serviceProvider/{{ i.key }}"
                            >{{ i.title }}</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="!isloogedin">
            <a nz-dropdown [nzDropdownMenu]="menu" class="moreMenu">
              More
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu" class="moredropdown">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <a [routerLink]="['/service-provider/serviceProviderForm']"
                    >Register as service provider</a
                  >
                </li>
              </ul>
            </nz-dropdown-menu>
          </li>
          <li *ngIf="currentUserRole === 'admin'">
            <a class="nav-link active" routerLink="/admin/category"
              >Add Categories</a
            >
          </li>
          <li *ngIf="!isloogedin" class="nav-item">
            <a class="nav-link active" role="button" (click)="loginDialog()"
              >Login</a
            >
          </li>
          <li *ngIf="!isloogedin" class="nav-item">
            <!-- <a class="nav-link active signup" role="button" (click)="signupDialog()">Sign Up</a> -->
            <button
              nz-button
              class="active signup"
              style="background-color: #1d4354"
              (click)="signupDialog()"
            >
              SignUp
            </button>
          </li>
          <li class="nav-link" *ngIf="currentUserRole !== 'serviceprovider'">
            <nz-badge [nzCount]="selectedServiceProviders.length">
              <i
                nz-icon
                nzType="shopping-cart"
                nzTheme="outline"
                class="cart"
                (click)="open()"
              ></i>
            </nz-badge>
          </li>
          <li class="nav-link">
            <nz-badge [nzCount]="12">
              <i
                nz-icon
                nzType="bell"
                nzTrigger="click"
                nz-dropdown
                [nzDropdownMenu]="menu"
                [nzPlacement]="'bottomRight'"
                class="cart"
                nzTheme="outline"
              ></i>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>1st menu item length</li>
                  <li nz-menu-item>2nd menu item length</li>
                  <li nz-menu-item>3rd menu item length</li>
                </ul>
              </nz-dropdown-menu>
            </nz-badge>
          </li>
          <li *ngIf="isloogedin" class="nav-link">
            <div
              (click)="openDrawer()"
              style="
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              "
            >
              <p style="color: black" class="p-0 m-0">{{ currenUserName }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="sec_header">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Plumber</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electrician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plumber</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electrician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plumber</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electrician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plumber</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electrician</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Plumber</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Electrician</a>
    </li>
  </ul>
</div>
