<div class="checkoutPage">
   <div class="container">
      <!-- <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)" >
         <nz-step [nzDisabled]='"true"' *ngFor="let i of totalStep" nzTitle="Step {{i+1}}" nzStatus="{{ index == i ? 'process' : index < i ?  'wait' :'finish' }}"></nz-step>
      </nz-steps> -->
      <div class="maincheckoutPage">
          <div class="slectedService" *ngIf="index == 0">
            <h1>Selected Service Provider</h1>
            <div class="showCard">
               <div *ngFor="let item of selectedData" style="display: flex; justify-content: center ;align-items: center;flex-direction: column;">
               <ws-profile-info-card [profileDetail]="item.serviceProvider" [category]="category"></ws-profile-info-card>
               <button nz-button nzType="primary" class="wp-button" (click)="EditDetail(item.formData)" >Edit</button>
               </div>
            </div>
         </div>
         <!--<div class="payment" *ngIf="index == 1">
            <h1>Payment</h1>
         </div>
         <div class="review" *ngIf="index == 2">
            <h1>final step</h1>
         </div> -->
         <div class="actionbutton">
            <button nz-button nzType="primary" (click)="before()" >Back</button>
            <button nz-button nzType="primary" class="wp-button" (click)="next()" >next</button>
         </div>
      </div>
   </div>
</div>