<div (click)="selectedService(cardDetails?._id)">
  <nz-card nzHoverable style="width: 100%" [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="cardDetails?.serviceName"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img
      alt="example"
      src="http://localhost:3000{{ cardDetails?.imageurl }}"
      width="100%"
      height="160px"
    />
  </ng-template>
</div>
