<div class="categorymain">
  <div class="row w-100">
    <div class="col-md-6">
      <div class="category-view container w-100">
        <h3 class="category-heading">Add Services</h3>

        <nz-tabset>
          <nz-tab [nzTitle]="'Add New Categories'">
            <form [formGroup]="addCategoryForm" enctype="multipart/form-data">
              <label
                >Category Name:
                <input nz-input type="text" formControlName="categoryName" />
              </label>
              <br />
              <div>
                <label
                  >Upload file :
                  <input
                    type="file"
                    (change)="onChooseFile($event)"
                    name="image"
                    id="myfile"
                  />
                </label>
              </div>
              <div class="mt-3" formArrayName="subCategories">
                <div
                  *ngFor="let category of subCategories.controls; let i = index"
                >
                  <label>
                    Sub Services #{{ i + 1 }}:
                    <div class="d-flex" style="align-items: center">
                      <input nz-input type="text" [formControlName]="i" />

                      <i
                        nz-icon
                        nzType="delete"
                        class="delete mx-4"
                        (click)="deleteCategory(i)"
                        nzTheme="outline"
                      ></i>
                    </div>
                  </label>
                </div>
                <button
                  class="mt-3"
                  nz-button
                  (click)="addCategory()"
                  nzType="primary"
                >
                  Add Sub-Category
                </button>
              </div>
              <br />
              <button
                nz-button
                class="mt-3"
                nzType="primary"
                [disabled]="this.addCategoryForm.status == 'INVALID'"
                (click)="onAddCategory()"
              >
                Save
              </button>
            </form>
          </nz-tab>
          <nz-tab [nzTitle]="'Update Categories'">
            <label>
              Select a Category you want to update: &nbsp;&nbsp;
              <nz-select
                style="width: 200px"
                nzPlaceHolder="Category"
                nzAllowClear
                [(ngModel)]="selectedCategory"
                (ngModelChange)="onCategoryChange()"
              >
                <nz-option
                  *ngFor="let category of nodes"
                  [nzLabel]="category.title"
                  [nzValue]="category.key"
                >
                </nz-option>
              </nz-select>
            </label>
            <form
              *ngIf="this.selectedCategory"
              [formGroup]="updateCategoriesForm"
              class="mt-3"
            >
              <label
                >Category Name:
                <input nz-input type="text" formControlName="title" />
              </label>
              <div formArrayName="children">
                <div
                  *ngFor="
                    let category of selectedSubCategories.controls;
                    let i = index
                  "
                >
                  <label>
                    Sub Services #{{ i + 1 }}:
                    <div class="d-flex">
                      <input nz-input type="text" [formControlName]="i" />
                      <div>
                        <i
                          class="delIcon"
                          nz-icon
                          nzType="delete"
                          (click)="deleteCategoryUpdate(i)"
                          nzTheme="outline"
                        ></i>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <button nz-button (click)="addCategoryUpdate()" nzType="primary">
                Add Sub-Category
              </button>
              <br />
              <button
                nz-button
                class="mt-3"
                nzType="primary"
                (click)="onSaveCategory()"
              >
                Update
              </button>
            </form>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-view w-100">
        <h3 class="category-heading">Available Services</h3>
        <div class="form-text">
          Select Category/Subcategory for edit and delete.
        </div>

        <nz-card style="overflow-y: auto; background-color: transparent">
          <div *ngIf="nodes.length != 0">
            <div *ngFor="let d of nodes; let i = index">
              <div *ngIf="d.subService.length != 0">
                <div class="d-flex" style="justify-content: space-between">
                  <p class="mt-1 d-flex">
                    <i
                      nz-icon
                      class="mt-2 px-1"
                      nzType="down"
                      nzTheme="outline"
                    ></i>
                    <a
                      class="title"
                      data-bs-toggle="collapse"
                      href="#collapseExample{{ i }}"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseExample{{ i }}"
                    >
                      {{ d.serviceName }}
                    </a>
                  </p>
                  <div>
                    <i nz-icon class="edit" nzType="edit" nzTheme="outline"></i>

                    <i
                      nz-icon
                      nzType="delete"
                      class="delete"
                      (click)="deleteSubCategory(d?._id, sb?.key)"
                      nzTheme="outline"
                    ></i>
                  </div>
                </div>
                <div class="collapse" id="collapseExample{{ i }}">
                  <ul
                    nz-list
                    nzBordered
                    nzSize="small"
                    style="list-style: none"
                  >
                    <li
                      class="title"
                      nz-list-item
                      nzNoFlex
                      *ngFor="let sb of d.subService"
                      style="
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        width: 100%;
                        padding: 5px 0px;
                      "
                    >
                      {{ sb?.title }}
                      <ul nz-list-item-actions class="actionbtn">
                        <nz-list-item-action>
                          <i
                            nz-icon
                            nzType="edit"
                            class="edit"
                            nzTheme="outline"
                          ></i>

                          <i
                            nz-icon
                            nzType="delete"
                            class="delete"
                            (click)="deleteSubCategory(d?._id, sb?.key)"
                            nzTheme="outline"
                          ></i>
                        </nz-list-item-action>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                *ngIf="d.subService.length == 0"
                class="title d-flex justify-content-between"
              >
                <div style="margin-left: 22px">{{ d.serviceName }}</div>
                <div>
                  <i nz-icon nzType="edit" class="edit" nzTheme="outline"></i>

                  <i
                    (click)="deleteSubCategory(d?._id, sb?.key)"
                    nz-icon
                    nzType="delete"
                    class="delete"
                    nzTheme="outline"
                    style="cursor: pointer; color: red"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="nodes.length == 0">
            <nz-empty></nz-empty>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
