<div class="paymentsuccess">
    <div class="container">
        <h1>PayMent Details</h1>
       <div class="mytable">
           <table class="table table-borderless">
               <tr>
                   <td>From</td>
                   <td>{{username}}</td>
               </tr>
               <tr>
                   <td>To</td>
                   <td>{{paymentDetail.tempObj.providerName}}</td>
               </tr>
               <tr>
                   <td>Work Description</td>
                   <td>{{paymentDetail.savedata.description}}</td>
               </tr>
               <tr>
                   <td>Loction</td>
                   <td>{{paymentDetail.savedata.location}}</td>
               </tr>
               <tr>
                   <td>Amount</td>
                   <td>{{paymentDetail.data.paidAmount}} USD</td>
               </tr>
               <tr>
                <td>Working Date</td>
                <td>{{paymentDetail.savedata.workingDate | date}}</td>
            </tr>
            <tr>
                <td>Work Start Time</td>
                <td>{{paymentDetail.savedata.startTime | date : 'hh:mm:ss a'}}</td>
            </tr>
            <tr>
                <td>Work End Time</td>
                <td>{{paymentDetail.savedata.endTime | date : 'hh:mm:ss a'}}</td>
            </tr>
            <tr>
                <td>Work Status</td>
                <td>{{paymentDetail.savedata.status}}</td>
            </tr>
               <tr>
                   <td>Trajection Number</td>
                   <td>{{paymentDetail.data.transactionId}}</td>
               </tr>
               <tr>
                <td>Trajection Status</td>
                <td>{{paymentDetail.data.paymentStatus}}</td>
            </tr>
            <tr>
                <td>Payment Date </td>
                <td>{{paymentDetail.data.paymentDate | date }}</td>
            </tr>
           </table>
           <div class="actionbutton">
            <button nz-button nzType="primary" ><a routerLink= '/'>Go To Home</a></button>
            <button nz-button nzType="primary" class="wp-button">Print</button>
         </div>
       </div>
    </div>
</div>