@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

.requested-service {
  font-family: @headingFont;
  margin: 10px 50px;
}

.service-status {
  text-transform: capitalize;
}

.accepted,
.success,
.done {
  color: rgb(13, 155, 13);
}

.rejected,
.declined {
  color: rgb(228, 47, 47);
}

.pending {
  color: rgb(255, 140, 0);
}
.actionBtn {
  font-size: 30px !important;
  font-weight: bolder !important;
  cursor: pointer;
  padding-left: 20px;
}
::ng-deep .ant-select-item {
  text-transform: capitalize !important;
}

::ng-deep .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  text-transform: capitalize;
}
