<div class="requested-service">
  <h3>Requested Services</h3>
  <form class="mt-2 mb-2 justify-content-start" [formGroup]="filterForm">
    <p style="display: inline; margin-right: 15px">Filters:</p>
    <nz-select
      nzPlaceHolder="Select Status"
      formControlName="status"
      (ngModelChange)="onServiceRequestChange()"
    >
      <nz-option [nzLabel]="'Status'" [nzValue]="null"></nz-option>
      <nz-option
        *ngFor="let item of serviceStatus"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>
  </form>
  <nz-table
    #requestedServiceTable
    [nzData]="tableDataToShow"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th nzWidth="80px">S.No.</th>
        <th nzWidth="120px">Date</th>
        <th>Timing</th>
        <th nzWidth="400px">Description</th>
        <th>
          {{ userRole === "serviceprovider" ? "Posted by" : "Requested To" }}
        </th>
        <th>Location</th>
        <th nzWidth="100px">Status</th>
        <th *ngIf="userRole === 'serviceprovider'">Accept/Reject</th>
        <th *ngIf="userRole === 'user'">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of requestedServiceTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.workingDate | date }}</td>
        <td>
          {{ data.startTime | date: "shortTime" }} to
          {{ data.endTime | date: "shortTime" }}
        </td>
        <td>{{ data.description }}</td>
        <td>
          {{
            userRole === "serviceprovider"
              ? data.requestedByName
              : data.requestedToName
          }}
        </td>
        <td>{{ data.location }}</td>
        <td class="service-status" [ngClass]="true ? data.status : ''">
          {{ data.status }}
        </td>
        <td
          *ngIf="
            userRole === 'user' &&
            (data.status === 'rejected' ||
              data.status === 'declined' ||
              data.status === 'done')
          "
        >
          <div *ngIf="data.status !== 'done'" style="font-size: 10px">
            Deducted amount will be refunded with in 4 working days.
          </div>
        </td>
        <td
          *ngIf="
            userRole === 'user' &&
            (data.status === 'accepted' ||
              data.status === 'pending' ||
              data.status === 'success')
          "
        >
          <ng-container>
            <i
              class="actionBtn"
              nz-icon
              nzType="ellipsis"
              nz-dropdown
              [nzDropdownMenu]="menu"
              [nzPlacement]="'bottomRight'"
              nzTheme="outline"
            ></i>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  nz-menu-item
                  *ngIf="userRole === 'user' && data.status === 'accepted'"
                >
                  <a
                    routerLink="/payment"
                    [queryParams]="{
                      reqId: data._id,
                      providerId: data.requestedTo
                    }"
                    >Proceed to Payment</a
                  >
                </li>
                <li nz-menu-item (click)="declineServiceRequest(data._id)">
                  Decline
                </li>
                <li
                  (click)="submitFeedback(data)"
                  nz-menu-item
                  style="color: green"
                  *ngIf="data.status === 'success'"
                >
                  Mark as done
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
        </td>
        <td *ngIf="userRole === 'serviceprovider'">
          <i
            *ngIf="data.status === 'pending'"
            class="mx-2"
            nz-icon
            nzType="check-circle"
            nzTheme="outline"
            style="font-size: 18px; color: rgb(13, 155, 13); cursor: pointer"
            (click)="acceptServiceRequest(data._id)"
          ></i>
          <i
            *ngIf="data.status === 'pending'"
            class="mx-2"
            nz-icon
            nzType="close-circle"
            nzTheme="outline"
            style="font-size: 18px; color: rgb(228, 47, 47); cursor: pointer"
            (click)="rejectServiceRequest(data._id)"
          ></i>
          <ng-container
            *ngIf="data.status === 'accepted' || data.status === 'success'"
          >
            <i
              class="actionBtn"
              nz-icon
              nzType="ellipsis"
              nz-dropdown
              [nzDropdownMenu]="menu"
              [nzPlacement]="'bottomRight'"
              nzTheme="outline"
            ></i>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="declineServiceRequest(data._id)">
                  Decline
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
