@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
.serviceProvider{
    padding: 30px 0px;
    .container{
        h1{
            text-align: center;
            font-family: @headingFont;
            text-transform: capitalize;
            padding: 10px 0px;
        }
        .row{
            label{
                font-family: @headingFont;
            }
        }
    }
}