<div class="footer">
  <div class="container">
    <div class="row w-100 d-flex">
      <div class="col-md-4 col-sm-12">
        <h3><span>Work</span> Point</h3>
        <p>
          Welcome to Work Point services, we provide many type of services like-
          plumber service, electrician
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h4>Links</h4>
        <ul>
          <li>
            <a href=""><i class="fa fa-link"></i>&nbsp;Electrician Services</a>
          </li>
          <li>
            <a href=""><i class="fa fa-link"></i>&nbsp;Plumber Services</a>
          </li>
          <li>
            <a href=""><i class="fa fa-link"></i>&nbsp;Painter Services</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 address">
        <h4>Address</h4>
        <ul>
          <li><i class="fa fa-address-card fa-lg"></i>&nbsp;MaharajGanj UP</li>
          <li>
            <i class="fa fa-send fa-lg"></i
            >&nbsp;workpointinfo@gmail.com/work@123
          </li>
          <li><i class="fa fa-phone fa-lg"></i>&nbsp;+91 960-827-0004</li>
          <li><i class="fa fa-map-pin fa-lg"></i>&nbsp;Pin:- 273303</li>
        </ul>
      </div>
    </div>
    <div class="social">
      <div class="social-icon">
        <p>Follow us</p>
        <i class="fa fa-facebook fa-lg"></i>
        <i class="fa fa-whatsup fa-lg"></i>
        <i class="fa fa-twitter fa-lg"></i>
        <i class="fa fa-youtube fa-lg"></i>
        <i class="fa fa-google fa-lg"></i>
      </div>
      <div class="mobileapp">
        <p>Mobile App</p>
        <i class="fa fa-apple fa-lg"></i>
        <i class="fa fa-android fa-lg"></i>
      </div>
    </div>
    <h5>© 2015 - 2021 WorkPoint® Global Inc.</h5>
  </div>
</div>
