@CardTextFont: "Roboto Slab, serif";
@textFont: "Open Sans", sans-serif;
.profile-info-card {
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px rgba(57, 73, 76, 0.3);
  margin: 10px 15px !important;
  transition-duration: 1s;
  &:hover {
    -webkit-box-shadow: -1px 10px 5px -1px rgba(247, 244, 247, 1);
    -moz-box-shadow: -1px 10px 5px -1px rgba(247, 244, 247, 1);
    box-shadow: -1px 10px 5px -1px rgba(247, 244, 247, 1);
  }
  .profile {
    position: absolute;
    display: inline;
  }
  img {
    border-radius: 50%;
    padding: 0;
  }
  .rates {
    position: absolute;
    right: 0 !important;
    text-align: right;
    font-weight: bold;
  }
  .status {
    position: absolute;
    // right: 0 !important;
    // text-align: right;
    font-weight: bold;
  }
  .details {
    text-align: center;
    .full-name {
      font-size: 22px;
      margin-bottom: 0px;
      font-family: @CardTextFont;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
    .skill {
      font-family: @textFont;
      font-weight: bold;
      letter-spacing: 1px;
      .chip {
        // display: inline-block;
        // padding: 0 15px;
        // font-size: 16px;
        // border-radius: 25px;
        text-transform: capitalize;
        background-color: #f1f1f1;
      }
    }
  }
  .jobs-completed {
    opacity: 0.7;
  }
  .selected {
    background-color: green;
    color: white;
    border-color: white;
    width: fit-content !important;
  }
  .deselected {
    background-color: white;
    color: rgb(36, 140, 237);
    border-color: rgb(36, 140, 237);
    width: fit-content !important;
  }
}

:host ::ng-deep .ant-card-body {
  padding: 10px !important;
  width: 100%;
}

:host ::ng-deep .anticon anticon-star svg {
  fill: #6fda44 !important;
}

:host ::ng-deep ant-btn ant-btn-primary {
  width: fit-content;
}
